<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resource Status Dashboard</title>
    <style>
        .table-height {
            height: 50vh;
        }

        .sticky {
            position: sticky;
            top: 0;
        }

        .details {
            display: none;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Tailwind JS file -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="mt-20">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary active text-gray-500" id="pills-home-tab" data-toggle="pill"
                        data-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">
                        Stale products (8hrs)
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary text-gray-500" id="pills-profile-tab" data-toggle="pill"
                        data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">
                        User's Launched products
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary text-gray-500" id="pills-contact-tab" data-toggle="pill"
                        data-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">
                        Naming Descrepancies
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary text-gray-500" id="pills-contact-tab" data-toggle="pill"
                        data-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">
                        Unauthorised product launches
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="table-responsive table-height border-bottom">
                    <table class="table table-bordered">
                        <thead class="thead-dark sticky">
                            <tr class="text-sm">
                                <th></th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in stale_products %}
                            <tr class="text-sm">
                                <td>
                                    <input type="radio" class="radio" name="selectedProduct"
                                        id="radio{{ product.index }}"
                                        onchange="showProductDetailsForRow({{ product.index }})" data-type="stale-product"/>
                                </td>
                                <td>{{ product.Name }}</td>
                                <td>{{ product.duration }}</td>
                                <td>{{ product.Status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="selectedProductItemDetailsRow" style="display: none" class="">
                    <h6 class="mt-6 font-weight-bold mb-3 text-gray-600">Details</h6>
                    <div id="selectedItemDetails" class="border rounded-sm bg-gray-50 p-3 text-sm"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="table-responsive table-height border-bottom">
                    <table class="table table-bordered">
                        <thead class="thead-dark sticky">
                            <tr class="text-sm">
                                <th></th>
                                <th scope="col">User email</th>
                                <th scope="col">Products count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr class="text-sm">
                                <td>
                                    <input type="radio" class="radio" name="selectedUser" id="radio{{ user.index }}"
                                        onchange="showUserDetailsForRow({{ user.index }})" data-type="user-launch-count"/>
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.product_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="selectedUserItemDetailsRow" style="display: none" class="">
                    <h6 class="mt-6 font-weight-bold mb-3 text-gray-600">Details</h6>
                    <div id="selectedItemDetails" class="border rounded-sm bg-gray-50 p-3 text-sm"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                ...
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                ...
            </div>
        </div>


    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var stale_products = {{ stale_products | tojson }};
        var users = {{ users | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>