<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resource Status Dashboard</title>
    <style>
        .table-height {
            height: 50vh;
        }

        .sticky {
            position: sticky;
            top: 0;
        }

        .details {
            display: none;
        }

        .formatted-json {
            font-family: Arial, sans-serif;
            white-space: pre-wrap;
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Tailwind JS file -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="mt-20">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary active text-gray-500" id="pills-home-tab" data-toggle="pill"
                        data-target="#pills-stale" type="button" role="tab" aria-controls="pills-stale"
                        aria-selected="true">
                        Stale products ({{stale_product_threeshold_time}}hrs)
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary text-gray-500" id="pills-profile-tab" data-toggle="pill"
                        data-target="#pills-launches" type="button" role="tab" aria-controls="pills-launches"
                        aria-selected="false">
                        User's Launched products
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary text-gray-500" id="pills-contact-tab" data-toggle="pill"
                        data-target="#pills-discrepancy" type="button" role="tab" aria-controls="pills-discrepancy"
                        aria-selected="false">
                        Naming Discrepancies
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-secondary text-gray-500" id="pills-contact-tab" data-toggle="pill"
                        data-target="#pills-unauthorized" type="button" role="tab" aria-controls="pills-unauthorized"
                        aria-selected="false">
                        Unauthorised product launches
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-stale" role="tabpanel" aria-labelledby="pills-home-tab">
                {% include 'stale-products-table.html' %}
            </div>
            <div class="tab-pane fade" id="pills-launches" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include 'user-launches-table.html' %}
            </div>
            <div class="tab-pane fade" id="pills-discrepancy" role="tabpanel" aria-labelledby="pills-contact-tab">
                {% include 'naming-discrepancy-table.html' %}
            </div>
            <div class="tab-pane fade" id="pills-unauthorized" role="tabpanel" aria-labelledby="pills-contact-tab">
                {% include 'unauthorized-users-table.html' %}
            </div>
        </div>


    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var stale_products = {{ stale_products | tojson }};
        var users = {{ users | tojson }};
        var name_disc_products = {{ name_disc_products | tojson }}
        var unauthorized_users = {{ unauthorized_users | tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>