<div>
    <div class="flex justify-end">
        <button class=" btn bg-warning h-10 mb-2 text-sm font-semibold" id="launchesBulkEmailButton"
            onclick="confirmBulkEmail(launches_emails, 'launches')">Send bulk
            email alert</button>
    </div>
    <div class="table-responsive table-height border-bottom">
        <table class="table table-bordered">
            <thead class="thead-dark sticky">
                <tr class="text-sm">
                    <th></th>
                    <th scope="col">User email</th>
                    <th scope="col">Products count</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="text-sm">
                    <td>
                        <input type="radio" class="radio" name="selectedUser" id="radio{{ user.index }}"
                            onchange="showUserDetailsForRow({{ user.index }})" data-type="user-launch-count" />
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.product_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="selectedUserItemDetailsRow" style="display: none" class="">
        <h6 class="mt-6 font-weight-bold mb-3 text-gray-600">Details</h6>
        <div id="selectedUserItemDetails" class="border rounded-sm bg-gray-50 p-3 text-sm flex justify-between"></div>
        <h6 class="mt-4 font-weight-bold mb-3 text-gray-600">Full response</h6>
        <pre class="formatted-json border rounded-sm bg-gray-50 p-3 text-sm"
            id="selectedUserLaunchItemFormattedJSON"></pre>
    </div>
</div>